/* Colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-green: #99E2D0;
$color-background: #F6F6F6;
$color-greenFont: #008766;
$color-white: #FFFFFF;
$color-black: #101010;
$color-grey: #353535;
$color-buttonGradient: linear-gradient(90turn, #9356DC 0%, #FF79DA 100%);
$color-buttonGradientHover:linear-gradient(-90turn, #9356DC 0%, #FF79DA 100%) opacity(.15);
$color-accent: #EAEAEA;

/* Shadow */
$shadow-badge: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-card: 0 4px 15px rgba(0, 0, 0, 0.10);
$shadow-button: 0 4px 10px rgba(0, 0, 0, 0.25);
$shadow-instructions: 0 4px 15px rgba(0, 0, 0, 0.15);

/* Fonts */
$font-primary: 'Shrikhand', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Weight */
$weight-light: 300;
$weight-medium: 500;
$weight-bold: 700;
