.header {
    position: relative;
    height: 90px; // Adjust as needed
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;

    .logo {
        width: 150px; // Adjust as needed
        height: auto;
    }
}